{% extends 'main/base.html' %}

{% block title %}Добавление темы{% endblock %}

{% block content %}
<form method="post" class="form_control d-flex flex-column gap-2">
    <input name="teacher" type="text" placeholder="ФИО преподавателя" class="form_control">
    <input name="subject" type="text" placeholder="Тема" class="form_control">
    <input name="student" type="text" placeholder="ФИО студента" class="form_control">
    <input value="Добавить" type="submit" class="btn btn-success">
</form>
{% endblock %}