{% extends 'main/base.html' %}

{% block title %}Редактирование темы: {{ post.id }} {% endblock %}

{% block content %}
<form method="post" class="form_control d-flex flex-column gap-2">
    <input name="teacher" type="text" value="{{ post.teacher }}" placeholder="ФИО преподавателя" class="form_control">
    <input name="subject" type="text" value="{{ post.subject }}" placeholder="Тема" class="form_control">
    <input name="student" type="text" value="{{ post.student }}" placeholder="ФИО студента" class="form_control">
    <input value="Обновить" type="submit" class="btn btn-success">
</form>
<a href="{{ url_for('post.delete', id=post.id) }}" class="btn btn-sm btn-danger">Удалить</a>
{% endblock %}