{% extends 'main/base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/form.css') }}">
{% endblock %}

{% block title %}Составить рапорт{% endblock %}

{% block content %}
<form method="post" class="edit-form">
    <input name="year" type="text" placeholder="2024-25 (Учебный год)">
    <input name="filter_year" type="text" placeholder="Курс">
    <input name="group" type="text" value="" placeholder="Группа">
    <input name="duration" type="text" placeholder="2025-жылдын 2-июнунан тартып 2025-жылдын 25-июлуна чейин">
    <input value="Скачать рапорт" type="submit" class="btn-green">
</form>
{% endblock %}